Repository AjayRajput17/devops-voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-result.yml, azure-pipelines-result_new.yml, azure-pipelines-vote.yml

azure-pipelines-result.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build the image
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
          repository: $(imageRepository)
  ...

azure-pipelines-result_new.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build the Image
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
          repository: $(imageRepository)
  ...

azure-pipelines-vote.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build an Image
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
          repository: $(imageRepository)
  ...

Set up CI with Azure Pipelines
  azure-pipelines-worker.yml
Due: none

Update azure-pipelines-worker.yml for Azure Pipelines
  azure-pipelines-worker.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

changes arwe made in worker Dockerfile
  worker/Dockerfile
Due: none

changes are made in vote app.py
  vote/app.py
Due: azure-pipelines-vote.yml

Updated server.js
  result/server.js
Due: azure-pipelines-result.yml, azure-pipelines-result_new.yml

first commit
  project screeenshoot.pdf
Due: none

celebal-devops-project
  README.md
Due: none

Added updateK8Manifest.sh
  scripts/updateK8Manifest.sh
Due: none

Update azure-pipelines-vote.yml for Azure Pipelines
  azure-pipelines-vote.yml
Due: none

Updated app.py
  vote/app.py
Due: azure-pipelines-vote.yml

Renamed updateK8Manifest.sh to updateK8sManifests.sh.sh
  scripts/updateK8sManifests.sh.sh
Due: none

Updated updateK8sManifests.sh.sh
  scripts/updateK8sManifests.sh.sh
Due: none

Update image to ajayazurecicd:16 in vote-deployment.yaml
  k8s-specifications/vote-deployment.yaml
Due: none

Renamed updateK8sManifests.sh.sh to updateK8sManifests.sh
  scripts/updateK8sManifests.sh
Due: none

Updated updateK8sManifests.sh
  scripts/updateK8sManifests.sh
Due: none

Update Kubernetes manifest
  k8s-specifications/vote-deployment.yaml
Due: none

Updated vote-deployment.yaml
  k8s-specifications/vote-deployment.yaml
Due: none

Updated app.py for check all cicd
  vote/app.py
Due: azure-pipelines-vote.yml

Updated app.py for check CICD
  vote/app.py
Due: azure-pipelines-vote.yml

Update azure-pipelines-result_new.yml for Azure Pipelines
  azure-pipelines-result_new.yml
Due: none

Updated result-deployment.yaml
  k8s-specifications/result-deployment.yaml
Due: none

Updated worker-deployment.yaml
  k8s-specifications/worker-deployment.yaml
Due: none

Updated redis-deployment.yaml
  k8s-specifications/redis-deployment.yaml
Due: none

Updated db-deployment.yaml
  k8s-specifications/db-deployment.yaml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Updated server.js for check CICD
  result/server.js
Due: azure-pipelines-result.yml, azure-pipelines-result_new.yml

Updated Dockerfile for check CICD
  worker/Dockerfile
Due: none

Updated azure-pipelines-worker.yml
  azure-pipelines-worker.yml
Due: none

Path conditions:
  azure-pipelines-result.yml: any of: result
  azure-pipelines-result_new.yml: any of: result
  azure-pipelines-vote.yml: any of: vote
